@page
@model Pharmacy.Areas.Admin.Pages.FAQs2.DeleteModel
@{
}
<div class="page-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h2 class="card-header d-flex justify-content-between align-items-center">
							@sharedResource["Delete"]
							<a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
						</h2>
					</div>
					<div class="card-body">

						<div style="padding-top:20px;padding-left:20px;padding-right:20px">
							<div class="row">
								<div class="col-md-12 col-lg-6 mt-4">
									<h4> @sharedResource["Informations"] </h4>
									<hr />

									<div class="d-flex justify-content-between">
										<div> @sharedResource["QuestionAr"] </div>
										<div> @Model.fAQ.QuestionAr </div>
									</div>
									<div class="d-flex justify-content-between">
										<div>@sharedResource["AnswerAr"]  </div>
										<div> @Model.fAQ.AnswerAr </div>
									</div>
									<div class="d-flex justify-content-between">
										<div>@sharedResource["QuestionEn"]  </div>
										<div> @Model.fAQ.QuestionEn </div>
									</div>

									<div class="d-flex justify-content-between">
										<div>@sharedResource["QuestionEn"]  </div>
										<div> @Model.fAQ.AnswerEn </div>
									</div>
								</div>
								<form method="post">
									<input type="submit" class="btn btn-danger" value="Delete" asp-route-id="@Model.fAQ.FAQId" />
								</form>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>