@page
@model Pharmacy.Areas.Admin.Pages.IndexModel
@{
}
@inject Pharmacy.Data.PharmacyContext _context
<link href="~/Admin/assets/libs/c3/c3.min.css" rel="stylesheet" type="text/css">

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-purple me-0 float-end"><i class="mdi mdi-basket"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-purple">@_context.Orders.Count()</span>
                                
                                @sharedResource["All_Orders"]
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End col Test-->
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-blue-grey me-0 float-end"><i class="mdi mdi-black-mesa"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-blue-grey">@Model.revenues</span>
                                
                                @sharedResource["TotalOrdersRevenue"]
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End col -->
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-brown me-0 float-end"><i class="fas fa-male"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-brown">@_context.Customers.Count()</span>
                                
                                @sharedResource["All_Customers"]
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End col -->
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mini-stat">
                            <span class="mini-stat-icon bg-teal me-0 float-end"><i class="mdi mdi-coffee"></i></span>
                            <div class="mini-stat-info">
                                <span class="counter text-teal">@_context.Items.Count()</span>
                                
                                @sharedResource["All_Items"]
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col -->
        </div> <!-- end row-->

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                    <div class="card-body">
                        <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("DailyOrdersCount")
                                            .Rotated(true)
                                            .DataSource("http://" + @HttpContext.Request.Host.Value.ToString() + "/api/statistics/GetDailyOrder")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("sales")
                                            )
                                            .Title(sharedResource["DailyOrdersCount"])
                                            .ArgumentAxis(a => a
                                            .TickInterval(1)
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return new Date(this.valueText).toLocaleDateString('pt-PT');
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>


                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("MonthlyOrderCount")
                                            .Rotated(true)
                                            .DataSource("http://" + @HttpContext.Request.Host.Value.ToString() + "/api/statistics/GetMonthlyOrder")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")
                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("sales")
                                            )
                                            .Title(sharedResource["MonthlyOrderCount"])
                                            .ArgumentAxis(a => a
                                            .TickInterval(1)
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return "Month " + this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                    <div class="card-body">
                        <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("DailyOrdersRevenue")
                                            .Rotated(true)
                                            .DataSource("http://" + @HttpContext.Request.Host.Value.ToString() + "/api/statistics/GetDailyOrdersRevenue")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("sales")
                                            )
                                            .Title(sharedResource["DailyOrdersRevenue"] )
                                            .ArgumentAxis(a => a
                                            .TickInterval(1)
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return new Date(this.valueText).toLocaleDateString('pt-PT');
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>


                                        <div class="col-xl-6">
                                            @(Html.DevExtreme().Chart()
                                            .ID("MonthlyOrdersRevenue")
                                            .Rotated(true)
                                            .DataSource("http://" + @HttpContext.Request.Host.Value.ToString() + "/api/statistics/GetMonthlyOrdersRevenue")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")
                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("day")
                                            .ValueField("sales")
                                            )
                                            .Title(sharedResource["MonthlyOrdersRevenue"] )
                                            .ArgumentAxis(a => a
                                            .TickInterval(1)
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return "Month " + this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>




        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<script src="~/Admin/assets/libs/peity/jquery.peity.min.js"></script>
<!--C3 Chart-->
<script src="~/Admin/assets/libs/d3/d3.min.js"></script>
<script src="~/Admin/assets/libs/c3/c3.min.js"></script>

<script src="~/Admin/assets/libs/jquery-knob/jquery.knob.min.js"></script>

<script src="~/Admin/assets/js/pages/dashboard.init.js"></script>

<script src="~/Admin/assets/js/app.js"></script>