@page
@model Pharmacy.Areas.Admin.Pages.Customers.IndexModel


<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Customers"]
                        </h2>
                    </div>
                    <div class="card-body">

                        @(Html.DevExtreme().DataGrid<Pharmacy.Models.Customer>()
                        .ID("gridContainer")

                        .DataSource(ds => ds.Mvc()
                        .Controller("Customers")
                        .LoadAction("Get")

                        .Key("CustomerId")
                        )
                        .Columns(columns => {
                                              columns.AddFor(m => m.CustomerImage)
            .Width(100)
            .AllowFiltering(false)
            .AllowSorting(false)
            .CellTemplate(@<text>
                <div>
                    <img width="50" height="50" src="/Images/Customer/<%- value %>" alt="image"/>
                </div>
            </text>).Caption(sharedResource["Picture"]);

                        columns.AddFor(m => m.CustomerNameAr).Caption(sharedResource["NameAr"]);
                        columns.AddFor(m => m.CustomerNameEn).Caption(sharedResource["NameEn"]);


                        columns.AddFor(m => m.CustomerEmail).Caption(sharedResource["Email"]);
                        columns.AddFor(m => m.CustomerAddress).Caption(sharedResource["Address"]);
                        columns.AddFor(m => m.CustomerPhone).Caption(sharedResource["Phone"]);



                        columns.Add().Caption(sharedResource["Actions"]).Width(200).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                                <a href="/Admin/Customers/Details?id=<%- data.CustomerId %>"> @sharedResource["Details"]  | </a>
                                <a href="/Admin/Customers/Orders?id=<%- data.CustomerId %>"> @sharedResource["Orders"]  | </a>
                                <a href="/Admin/Customers/Favourite?id=<%- data.CustomerId %>"> @sharedResource["Favourite"] </a>
                            </text>);
                                

                        })
                          .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
                        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .AllowColumnReordering(true)
                        .ShowRowLines(true)
                        .ShowBorders(true)
                        .SearchPanel(searchPanel => searchPanel
                        .Visible(true)
                        .Width(240)
                        .Placeholder(sharedResource["SearchTxt"]))
                        .RemoteOperations(true)
                        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>