@page
@model Pharmacy.Areas.Admin.Pages.Sections2.CreateModel
@{
}
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h2 class="card-header d-flex justify-content-between align-items-center">
							@sharedResource["Create"]  @sharedResource["Section"]
							<a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
						</h2>
					</div>
					<div class="card-body">
						<br />
						<form id="form" method="post" enctype="multipart/form-data">

							@(Html.DevExtreme().Form<Pharmacy.Models.Section>()
							.Items(items =>
							{
							items.AddSimpleFor(m => m.SectionTlAr).IsRequired(true).Label(k => k.Text(sharedResource["TlAr"]));
							items.AddSimpleFor(m => m.SectionTlEn).IsRequired(true).Label(k => k.Text(sharedResource["TlEn"]));
							items.AddSimpleFor(m => m.SectionSort).IsRequired(true).Label(k => k.Text(sharedResource["Sort"]));
							items.AddSimpleFor(m => m.IsActive).Label(k => k.Text(sharedResource["IsActive"]));
							items.AddSimpleFor(m => m.SectionPic).IsRequired(true).Label(k => k.Text(sharedResource["Picture"])).Template(@<text>


									@(Html.DevExtreme().FileUploader()
								.Name("Photo")
								.SelectButtonText(sharedResource["Select_photo"])
								.LabelText("")
								.Accept("image/*")
								.UploadMode(FileUploadMode.UseForm)
								.RtlEnabled(bool.Parse(sharedResource["ArLang"]))
								.Height(70)

									)

								</text> );

							items.AddButton()
							.ColSpan(3)
							.HorizontalAlignment(HorizontalAlignment.Right)
							.ButtonOptions(b => b.Text(sharedResource["Save"])
							.Type(ButtonType.Success)
							.UseSubmitBehavior(true)).CssClass("invers");
							})
							)
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
