@page
@model Pharmacy.Areas.Admin.Pages.Sections2.EditModel
@{
}



<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h2 class="card-header d-flex justify-content-between align-items-center">
							@sharedResource["Edit"]  @sharedResource["Section"]
							<a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
						</h2>
					</div>
					<div class="card-body">
						<br />
						<form id="form" method="post" enctype="multipart/form-data">

							@(Html.DevExtreme().Form<Pharmacy.Models.Section>()
							.FormData(Model.section)
							.Items(items =>
							{


							items.AddSimpleFor(m => m.SectionId).Visible(false);
							items.AddSimpleFor(m => m.SectionTlAr).Label(k => k.Text(sharedResource["TlAr"])).IsRequired(true);
							items.AddSimpleFor(m => m.SectionTlEn).Label(k => k.Text(sharedResource["TlEn"])).IsRequired(true);
							items.AddSimpleFor(m => m.SectionSort).Label(k => k.Text(sharedResource["Sort"])).IsRequired(true);
							items.AddSimpleFor(m => m.IsActive).Label(k => k.Text(sharedResource["IsActive"]));
							items.AddSimple().Label(k => k.Text(sharedResource["Picture"])).Template(@<text>
									<div>
										<img width="250" height="250" src="/Images/Section/@Model.section.SectionPic" alt="Section Picture" />
									</div>
								</text> );

							items.AddSimpleFor(m => m.SectionPic).Label(k => k.Text(sharedResource["Change_Picture"])).Template(@<text>


									@(Html.DevExtreme().FileUploader()
								.Name("Photo")
								.SelectButtonText(sharedResource["Change_Picture"])
								.LabelText("")
								.Accept("image/*")
								.UploadMode(FileUploadMode.UseForm)
								.RtlEnabled(bool.Parse(sharedResource["ArLang"]))
								.Height(70)
									)

								</text> );

							items.AddButton()
							.ColSpan(3)
							.ButtonOptions(b => b.Text(sharedResource["Save"])
							.Type(ButtonType.Success)
							.UseSubmitBehavior(true)).CssClass("invers");
							})
							)
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
