@page
@model Pharmacy.Areas.Admin.Pages.sections22.DetailsModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Details"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">

                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Informations"] </h4>
                                    <hr />

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["TlAr"] </div>
                                        <div> @Model.section.SectionTlAr </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["TlEn"]  </div>
                                        <div> @Model.section.SectionTlEn </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Sort"]  </div>
                                        <div> @Model.section.SectionSort </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["IsActive"]  </div>
                                        @Html.CheckBoxFor(m => m.section.IsActive.Value, new { @disabled = "disabled" })

                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Picture"]  </div>
                                        <div class="Details_img">
                                            <img style="border-radius: 13%;" class="img-fluid" src="~/Images/Section/@Model.section.SectionPic" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>