
@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}
@using Microsoft.AspNetCore.Localization;

<!doctype html>
<html lang="en">

<!-- Mirrored from themesbrand.com/admiria/layouts/vertical/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Dec 2021 13:10:17 GMT -->
<head>

    <meta charset="utf-8">
    <title>@sharedResource["Sign_in"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/public/images/logo/pharmacylogo.jpeg">
    @{
        var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
        var BrowserCulture = locale.RequestCulture.UICulture.ToString();
        //English
        if (BrowserCulture == "en-US")
        {
            <style>
                html {
                    direction: ltr !important;
                }
            </style>
            @*<link href="~/Admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
                <link href="~/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css">
                <link href="~/Admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">*@

            <link href="@Url.Content("~/Admin/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Admin/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Admin/assets/css/app.min.css")" rel="stylesheet" type="text/css" />


        }
        //Arabic
        else
        {
            <style>
                html {
                    direction: rtl !important;
                }
            </style>
            @*<link href="~/Admin/assets/css/bootstrap-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
                <link href="~/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css">
                <link href="~/Admin/assets/css/app-rtl.min.css" id="app-style" rel="stylesheet" type="text/css">*@
            <link href="@Url.Content("~/Admin/assets/css/bootstrap-rtl.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Admin/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Admin/assets/css/app-rtl.min.css")" rel="stylesheet" type="text/css" />

        }

    }
    <link href="~/Admin/assets/css/custom.css" rel="stylesheet" />

</head>

<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div class="accountbg" style="background: url('../../../../Admin/assets/images/new-Livery-01_362585042_628281872.jpg'); background-size: cover; background-position: center;"></div>
    <div class="account-pages mt-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-5 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mt-4">
                                <div class="mb-3">
                                    <img src="~/Public/images/logo/Pharmacylogo.jpeg" height="150" alt="logo">
                                </div>
                            </div>
                            <div class="p-3">
                                <h4 class="font-size-18 mt-2 text-center">@sharedResource["Welcome_Back"] !</h4>
                                <p class="text-muted text-center mb-4"> @sharedResource["Sign_in"]</p>
                                
                                <form class="form-horizontal" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-3">

                                        <label class="form-label" asp-for="Input.UserName">@sharedResource["Username"]</label>
                                        <input type="text" class="form-control" asp-for="Input.UserName" id="username" placeholder="@sharedResource["username_placeholder"]">
                                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Input.Password">@sharedResource["Password"]</label>
                                        <input type="password" asp-for="Input.Password" class="form-control" id="userpassword" placeholder="@sharedResource["password_placeholder"]">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="customControlInline">
                                                <label class="form-check-label" for="customControlInline">
                                                    @sharedResource["Remember me"]
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">@sharedResource["Log In"]</button>
                                        </div>
                                    </div>

                                    @*<div class="mb-0 row">
            <div class="col-12 mt-4">
                <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
            </div>
        </div>*@
                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center position-relative">
                        <p class="text-white">
                            <script>document.write(new Date().getFullYear())</script> © IHCC. Crafted by Codeware
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="~/Admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Admin/assets/libs/node-waves/waves.min.js"></script>

    <script src="~/Admin/assets/js/app.js"></script>
    
        <partial name="_ValidationScriptsPartial" />
    
</body>

<!-- Mirrored from themesbrand.com/admiria/layouts/vertical/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Dec 2021 13:10:17 GMT -->
</html>
