@page
@model Pharmacy.Areas.Admin.Pages.HomeSliders.DetailsModel
@{
}



<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Details"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">


                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4>@sharedResource["Informations"] </h4>
                                    <hr />

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["Arabic Type Title"] </div>
                                        <div> @Model.homeSlider.HomeSliderType.HomeSliderTypeTlAr </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["English Type Title"] </div>
                                        <div> @Model.homeSlider.HomeSliderType.HomeSliderTypeTlEn </div>
                                    </div>

                                    @if (Model.homeSlider.HomeSliderTypeId != 3)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div>@sharedResource["NameAr"]  </div>
                                            <div> @Model.EntityNameAr </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <div>@sharedResource["NameEn"]  </div>
                                            <div> @Model.EntityNameEn </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div>@sharedResource["Name"]  </div>
                                            <div> @Model.EntityNameEn </div>
                                        </div>

                                    }

                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Picture"]  </div>
                                        <div class="Details_img">
                                            <img style="border-radius: 13%;" width="250" height="250"  class="img-fluid" src="~/Images/Slider/@Model.homeSlider.HomeSliderPic" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>