@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{



}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"></li>

                @{
                    if ((User.Identity.IsAuthenticated && User.IsInRole("Admin")))
                    {
                        <li>
                            <a href="/Admin/orders" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>@sharedResource["Orders"] </span>
                            </a>

                        </li>
                        <li>
                            <a href="/Admin/Categories" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>@sharedResource["Categories"]  </span>
                            </a>
                        </li>
                        @*<li>
                            <a href="/Admin/Sections" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Sections"] </span>
                            </a>
                        </li>*@
                        <li>
                            <a href="/Admin/Items" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Items"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Brands" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>@sharedResource["Brands"]  </span>
                            </a>
                        </li>
                        //<li>
                        //    <a href="/Admin/Collections" class="waves-effect">
                        //        <span class="badge rounded-pill bg-primary float-end"></span>
                        //        <i class="mdi mdi-view-dashboard"></i>
                        //        <span> @sharedResource["Collections"] </span>
                        //    </a>
                        //</li>
                        <li>
                            <a href="/Admin/Sections" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Sections"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Customers" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Customers"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/DeliveryAgent/DeliveryAgentIndex" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Delivery Agent"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/NewsletterList" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Subscriptions"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ClientsMessages" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["clientsMessages"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Areas" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Areas"] </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["SystemConfigration"] </span>
                            </a>
                            <ul class="sub-menu mm-collapse" aria-expanded="false" style="height: 0px;">
                                <li><a href="/Admin/SystemConfigration/ContactsInfo">@sharedResource["ContactsInfo"]</a></li>
                                <li><a href="/Admin/SystemConfigration/FAQList">@sharedResource["FAQList"]</a></li>
                                <li><a href="/Admin/SystemConfigration/PagesContent">@sharedResource["PagesContent"]</a></li>
                                <li><a href="/Admin/HomeSliders">@sharedResource["HomeSlider"]</a></li>
                            </ul>
                        </li>
                    }
                }


                @{ if ((User.Identity.IsAuthenticated && User.IsInRole("Delivery")))
                    {
                        <li>
                            <a href="/Admin/DeliveryOrders/DeliveryList" class="waves-effect">
                                <span class="badge rounded-pill bg-primary float-end"></span>
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> @sharedResource["Delivery List"] </span>
                            </a>
                        </li>

                    }
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->   
